---
import Toastify from "../../components/commons/Toastify";
import Layout from "../../layouts/Layout.astro";
import {getProducts} from "../../requests/products"
import { getCategories } from "../../requests/categories";
import { getBrands } from "../../requests/brands";

var products = await getProducts()
var categories = await getCategories()
var brands = await getBrands()

import ProductsFilter from "../../components/customs/client/productsFilter.jsx";


---


<Layout title="Products">
  <Toastify error={products.error} type={undefined} client:load />
  <div class="flex gap-3 min-h-[calc(100vh-70px)]">
    <ProductsFilter client:load/>
      {
        products.error && <p class="text-red-500 text-3xl">There was an error</p>
      }
  </div>
</Layout>