---
import { getCategories } from "../../../requests/categories"
import Toastify from "../../commons/Toastify"
import Card from "../../customs/statics/card.astro"


var categories = await getCategories()
---

<article class="min-h-80 mb-8 flex flex-col">
  <Toastify error={categories.error} type={undefined} client:load />
  <h3 class="text-3xl font-medium ml-3 mb-4">Categorías</h3>
  <div class="grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] gap-5 items-center justify-center w-full p-5">
    {
      categories?.rows?.map((category,i) => {
        return (
        <Card iconName={category.iconName} name={category.name}/>
      )
      })
    }
  </div>
  {
    categories.error && <p class="text-red-500 text-3xl">There was an error</p>
  }
</article>