<footer class="flex justify-between py-4 px-4 bg-primary text-neutral">
  <div class="flex flex-col p-4 gap-3">
    <span>IG</span>
    <span>X</span>
    <span>Facebook</span>
  </div>
  <div class="flex flex-col p-4">
    <span>Todos los derechos resevados ...</span>
  </div>
  <div class="flex flex-col p-4">
    <span>Reportar un error</span>
  </div>
</footer>