---

---

<nav class="flex justify-between items-center z-50 p-7 sticky top-0 bg-primary text-neutral">
  <div class="flex gap-5">
    <a href="/">Inicio</a>
    <a href="/about">About</a>
    <a href="/categories">Categories</a>
    <a href="/products">Products</a>
  </div>
</nav>